@import "./responsive.scss";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --color-primary: #fff;
  --color-secondary: #141c3a;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-0: #e3e3e3;
  --color-grey-1: #cbcbcb;
  --color-grey-2: #b4b4b4;
  --color-grey-3: #a4a4a4;
  --color-grey-4: #7e7e7e;
  --color-grey-5: #5e5e5e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Scrollbar Hidden in Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  min-height: 100vh;
}

.container {
  overflow: none;
  margin: 0 16%;
  height: 100%;
}

// @media screen and (max-width: 800px) {
//   .container {
//     overflow: none;
//     margin: 0;
//     height: 100%;
//   }
// }
// Sidebar
.sidebar {
  width: 25%;
  position: fixed;
  height: 100vh;
  background-color: var(--color-secondary);
  text-align: center;
  .avatar-con {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    .avatar {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // width: 200px;
      // height: 200px;
      img {
        border-radius: 50%;
        background-color: var(--color-white);
        width: 200px;
        height: 200px;
      }
    }
  }
  .label-con {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;
    .label-icon {
      width: fit-content;
      background-color: rgba(#c9c9c9, 0.2);
      border-radius: 1rem;
      padding: 0.3rem 0.6rem;
      margin: 0.3rem;
      p {
        flex-basis: 0px;
        flex-grow: 1;
        color: var(--color-grey-0);
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }
  .sidebar-nav {
    display: inline-block;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 4rem 0;
    li {
      padding-bottom: 1.2rem;
      button {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-grey-2);
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        border: none;
        &:hover {
          cursor: pointer;
          color: var(--color-white);
        }
      }
    }
  }
  .footer {
    width: inherit;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    .greeting-text {
      color: var(--color-grey-0);
      padding: 1rem;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

// Main content
.main-content {
  margin-left: 25%;
}

// Hello
#hello {
  .nav-bar {
    padding: 2rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: right;
    button {
      font-size: 1rem;
      font-weight: 700;
      padding: 1.2rem;
      color: var(--color-secondary);
      background-color: transparent;
      border: 2px solid var(--color-secondary);
      border-radius: 9999px;
      &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .introduction {
    .title {
      display: flex;
      flex-direction: column;
      align-items: left;
      h1 {
        font-size: 3rem;
        padding-top: 6rem;
        color: var(--color-secondary);
        font-weight: 700;
      }
      .subtitle {
        font-size: 2rem;
        padding-top: 1rem;
        span {
          text-indent: 10px;
          position: absolute;
          overflow: hidden;
          white-space: nowrap;
          color: #000;
          visibility: hidden;
          border-right: 4px solid #000;
          &:nth-child(1) {
            max-width: 8rem;
            animation: typing 2s steps(120) 1s, typingReverse 2s steps(120) 1.7s,
              blink-caret 0.6s step-end infinite;
          }
          &:nth-child(2) {
            max-width: 9.8rem;
            animation: typing 2s steps(120) 4.2s, typingReverse 2s steps(120) 5s,
              blink-caret 0.6s step-end infinite;
          }
          &:nth-child(3) {
            max-width: 8.4rem;
            animation: typing 2s steps(120) 7.3s,
              typingReverse 2s steps(120) 8.5s,
              blink-caret 0.6s step-end infinite;
          }
          /* pause on last word, end cursor blink */
          &:nth-child(4) {
            max-width: 7.6rem;
            animation: typing 2s steps(120) 11s forwards,
              blink-caret 0.6s step-end infinite;
          }
          @keyframes typing {
            from {
              width: 0;
              color: var(--color-grey-2);
              visibility: hidden;
            }
            50% {
              color: #000;
            }
            to {
              visibility: visible;
              width: 100%;
            }
          }

          @keyframes typingReverse {
            from {
              width: 100%;
              visibility: visible;
              color: #000;
            }
            to {
              width: 0;
            }
          }

          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: #000;
            }
          }
          @media screen and (max-width: 800px) {
            &:nth-child(1) {
              max-width: 8.7rem;
            }
            &:nth-child(2) {
              max-width: 10.8rem;
            }
            &:nth-child(3) {
              max-width: 9.2rem;
            }
            &:nth-child(4) {
              max-width: 8rem;
            }
          }
        }
      }
    }
    .down-arrow {
      position: absolute;
      top: calc(100vh - 80px);
      left: calc(75% / 2 + 25%);
      width: 0;
      height: 30px;
      animation: jumpInfinite 1.5s infinite;
      &::before {
        content: " ";
        position: absolute;
        top: 24px;
        left: -10px;
        width: 16px;
        height: 16px;
        border-bottom: 4px solid;
        border-right: 4px solid;
        border-radius: 4px;
        transform: rotateZ(45deg);
      }
      &::after {
        content: " ";
        position: absolute;
        top: 12px;
        left: -10px;
        width: 16px;
        height: 16px;
        border-bottom: 4px solid;
        border-right: 4px solid;
        border-radius: 4px;
        transform: rotateZ(45deg);
      }
      @keyframes jumpInfinite {
        0% {
          margin-top: 0;
        }
        50% {
          margin-top: 20px;
        }
        100% {
          margin-top: 0;
        }
      }
    }
  }
  .media-icons {
    display: flex;
    justify-content: flex-start;
    .media-icon {
      cursor: pointer;
      padding: 1rem 2rem 1rem 0;
      color: var(--color-black);
      opacity: 0.7;
      i {
        font-size: 2rem;
      }
      &:hover {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
    }
  }
}
/* About me */
#aboutme {
  .tech-stack {
    padding: 3rem 0;
    text-align: center;
    h2 {
      font-size: 1.6rem;
    }
    .tech-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      .tech-icon {
        margin: 2rem;
        font-size: 3rem;
        .fa-html5 {
          color: #ff5733;
        }
        .fa-css3-alt {
          color: #407ce2;
        }
        .fa-js {
          color: #f0d24f;
        }
        .fa-react {
          color: #61dbfb;
        }
        img {
          display: flex;
          justify-content: center;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .about-con {
    display: flex;
    gap: 30px;
    height: 280px;
    .left-con {
      flex: 0 50%;
      img {
        border-radius: 16px;
        width: 100%;
        height: 100%;
      }
    }
    .right-con {
      flex: 0 50%;
      h5 {
        font-size: 1.2rem;
        color: #407ce2;
        font-weight: 800;
        text-transform: uppercase;
      }
      .title {
        font-weight: 700;
        font-size: 1.6rem;
        padding: 12px 0;
      }
      .description {
        font-size: 1.2rem;
        color: var(--color-grey-5);
      }
    }
  }
  .story-timeline {
    margin-top: 3rem;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: var(--color-grey-0);
      top: 0;
      bottom: 0;
      left: 15px;
    }
    .story {
      margin-left: 3rem;
      background-color: #fff;
      padding: 1rem;
      color: var(--color-grey-5);
      .card {
        width: 100%;
        padding: 1rem;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(105, 96, 215, 0.1444602);
        .timeline-icon {
          content: "";
          position: absolute;
          left: 0;
          margin-top: 10px;
          width: 30px;
          height: 30px;
          // border-radius: 50%;
          // background-color: var(--color-grey-1);
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            // padding: 1px 0 0 1px;
            font-size: 2rem;
          }
        }
        .banner {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 700;
          color: var(--color-secondary);
        }
        .text {
          padding-top: 12px;
          span {
            color: var(--color-black);
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Portfolio */
#portfolio {
  .portfolio-con {
    padding-top: 80px;
    h5 {
      font-size: 1.2rem;
      color: #407ce2;
      font-weight: 800;
      text-transform: uppercase;
    }
    p {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 1rem;
      color: var(--color-secondary);
    }
  }
  .portfolios {
    margin: 3rem 0;
    .portfolio-item {
      padding: 1rem 0;
      display: flex;
      border-radius: 15px;
      .image {
        flex: 0 45%;
        text-align: center;
        img {
          height: 200px;
          max-width: 100%;
          object-fit: cover;
          border-radius: 15px;
          box-shadow: 0px 0px 20px rgba(105, 96, 215, 0.2);
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      .descr {
        flex: 0 55%;
        padding: 0 2rem;
        text-align: center;
        h3 {
          font-size: 1.5rem;
        }
        p {
          text-align: start;
          padding: 0.6rem 0;
        }
        .skills {
          display: flex;
          justify-content: center;
          gap: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
/* Blogs */
#blogs {
  .blogs-con {
    padding-top: 3rem;
    h5 {
      color: #407ce2;
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    .banners {
      display: flex;
      margin-top: 1rem;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 1.6rem;
        font-weight: 600;
      }
      .more-btn {
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 2px solid #f0d24f;
      }
    }
  }
  .blogs-items {
    padding: 2rem 0;
    .blog-item {
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      .title {
        font-size: 1.3rem;
        cursor: pointer;
      }
      .date {
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--color-grey-4);
      }
      // .content {
      //   padding: 0 1rem;
      // }
    }
    .dots {
      font-size: 2rem;
      text-align: center;
      transform: rotateZ(90deg);
    }
  }
}

#contact {
  .contact-con {
    padding-top: 3rem;
    h5 {
      color: #407ce2;
      font-size: 1.2rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1rem;
    }
  }
  .content {
    display: flex;
    .contact-form {
      flex: 0 50%;
      padding-top: 3rem;
      .input-control {
        margin: 1rem 0;
        display: flex;
        gap: 20px;
      }
      input,
      textarea {
        border-radius: 30px;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-0);
        width: 100%;
        color: var(--color-black);
        resize: none;
        &::placeholder {
          font-size: 0.9rem;
          color: var(--color-grey-4);
        }
      }
    }
    .resume-download {
      flex: 0 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .chinese-resume,
      .english-resume {
        padding: 1rem 0;
      }
    }
    input[type="submit"],
    button {
      width: 150px;
      border: 2px solid var(--color-secondary);
      border-radius: 30px;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.6rem 1rem;
      background-color: transparent;
      &:hover {
        color: var(--color-white);
        background-color: var(--color-secondary);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

// Go Top Button
.nav-gotop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
  .hide {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  .show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  button {
    font-size: 1.3rem;
    width: 45px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    border: none;
    border-radius: 6px;
    &:hover {
      color: var(--color-white);
      background-color: var(--color-secondary);
      transition: all 0.2s ease-in-out;
    }
  }
}
